@*@using Microsoft.Extensions.FileProviders*@

@*@model IDirectoryContents;*@
@model _dock200.Models.shinSiteMetrics;


@{
    ViewBag.Razorhref = "https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#razor-syntax";
}
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                          *@
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                                  *@

@*<meta http-equiv="Refresh" content="0; url='/shinIps2'" />*@

@{
    Layout = "z____SM________Index.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">



<div id="containerA">
    @*<div class="ComputerScientist">  <h2>Computer Scientist         </h2>   </div>*@

    <div class="tb">


        <div id="introText">

            <p class="fullTime-flex plz">                fuaL.pa-Time | Part-Time | Contract            </p>


            <h1>Software Engineering | DBA | Full Web Applications</h1>
            <div>

                <style>
                    .pitch {
                        display: flex;
                        justify-content: space-between;
                        height: auto;
                        width: 100%;
                        margin: auto;
                        padding: 3%;
                        background-color: rgba(0, 0, 0, 0);
                        background-image: linear-gradient(90deg, rgba(0, 12, 37, 0.53) 0%, rgba(139, 0, 0, 0) 82%, rgba(230, 0, 0, 0) 100%);
                    }


                        .pitch div {
                            margin-left: 5%;
                            margin-right: 10%;
                        }

                            .pitch div p {
                                font-size: 1.4vw !important;
                                letter-spacing: 0.11vw;
                                line-height: 4.6vh !important;
                            }
                </style>

                <div class="pitch">
                    <div>
                        <p>
                            Looking for work in <br />  <o style="margin-left: 7.3vw;">  Champaign - Urbana, Illinois & Louisville.</o><br />
                            Open to Remotely & potentially with relocation.<br /><br />                        What Do you Work with?<br />                        Can I become Part of it?
                        </p>
                    </div>
                    <div style="height:80%;">
                        <img src="~/zjohnson_92.png" class="zjohnson" />

                    </div>

                </div>


                <div class="reccentFocus">
                    <h2>  Recently working the<b> Microsoft</b> stack:</h2>   <h3>    Asp.Net C# MVC  <a href=@ViewBag.Razorhref target="b"> (￣ー￣) --> Razor <-- </a>   <br />    SQL WebAPI's jQuery  ECMA-262 ECMAScript  Ajax<br />                            EF  Codefirst  Powershell Angular Bootstrap</h3>
                </div><div style="clear:both;"></div>
            </div>




<p class="bodyText" style="margin-top:6%;margin-bottom:2%;">

             
            </p>


        </div>

    </div>

</div>
@*@await Html.PartialAsync("z_beckman.cshtml")*@




<div style="clear:both;"></div>


@await Html.PartialAsync("z_writing.cshtml")

<!-- printThis -->
@*<script src="~/printThis.js"></script>*@

@*<script>
        $('#print').click(function () {

            //https://jasonday.github.io/printThis/#demos

            $('page').printThis(
                {
                    printContainer: false,       // print outer container/$.selector
                    importCSS: true,            // import parent page css
                    importStyle: true,         // import style tags
                    removeInline: false,        // remove inline styles from print elements
                    loadCSS: "/Resume.css",                // path to additional css file - use an array [] for multiple
                    removeScripts: false,       // remove script tags from print content
                })




        })




    </script>*@




<script>



    //fetch('/beckman').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('introText').innerHTML += result
    //    })

    //fetch('/writing').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('main').innerHTML += result
    //    })

    //$.get("/beckman", function (data) { document.getElementById('introText').innerHTML += data })
    //$.get("/writing", function (data) { document.getElementById('main').innerHTML += data })
    //$.get("/articles", function (data) { document.getElementById('main').innerHTML += data })



    //document.addEventListener('click', function (event) {

    //    // If the clicked element doesn't have the right selector, bail
    //    //if (!event.target.matches('.click-me')) return;

    //    // Don't follow the link
    //    event.preventDefault()

    //    // Log the clicked element in the console
    //    // Log the clicked element in the console
    //    console.log(event.target)
    //    $('consoleLog').html('click')

    //}, false)


</script>



<script type="text/javascript">

    @*We can use   @Url.Action("")*@




        //console.log(`pageReplaceFiring`)


     //$(`html`).innerHTml =  $(`html`).html().toString().replace('{{', '').replace('}}', '')


        //$(`shinglog`).html = page
        //console.log(`pageRepplace Compelte`)

        //.replace('{{',"").replace('}}',""))


        //document.getElementsByTagName('shinLog').innerHTML = document.getElementsByTagName('shinLog').innerHTML.replace('{{', "").replace('}}',"")
        //console.log(document.documentElement.innerHTML.replace('{{',"").replace('}}',""))
        //document.getElementsByTagName('body').innerHTML =   document.getElementsByTagName('body').innerHTML.replace('{{',"").replace('}}',"")




</script>






<div class="lastimgWrapper">
    <div class="lastImg">
        <img src="~/hiking_sml.jpg" />
        <img src="~/pool_sml.jpg" />
        <img src="~/hiking2_sml.jpg" />
    </div>
</div>