@*@using Microsoft.Extensions.FileProviders*@

@*@model IDirectoryContents;*@
@model _dock200.Models.shinSiteMetrics;


@{
    ViewBag.Razorhref = "https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#razor-syntax";
}
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                          *@
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                                  *@

@*<meta http-equiv="Refresh" content="0; url='/shinIps2'" />*@

@{
    Layout = "z____SM________Index.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">



<img src="~/IlRockStar_zjohson.png" style="   margin-top:2%;   height:3vw;width:auto;    " />



<div id="containerA">
    @*<div class="ComputerScientist">  <h2>Computer Scientist         </h2>   </div>*@

    <div class="tb">


        <div id="introText">

            <p class="fullTime-flex plz">                fuaL.pa-Time | Part-Time | Contract            </p>


            <h1>Software Engineering | DBA | Full Web Applications</h1>
            <div>

                <style>
                    .pitch {
                        display: flex;
                        justify-content: space-between;
                        height: auto;
                        width: 100%;
                        margin: auto;
                        padding: 3%;
                        background-color: rgba(0, 0, 0, 0);
                        background-image: linear-gradient(90deg, rgba(0, 12, 37, 0.53) 0%, rgba(139, 0, 0, 0) 82%, rgba(230, 0, 0, 0) 100%);
                    }


                        .pitch div {
                            margin-left: 5%;
                            margin-right: 10%;
                        }

                            .pitch div p {
                                font-size: 1.4vw !important;
                                letter-spacing: 0.11vw;
                                line-height: 4.6vh !important;
                            }
                </style>

                <div class="pitch">
                    <div>
                        <p>
                            Looking for work in <br />  <o style="margin-left: 7.3vw;">  Champaign - Urbana, Illinois & Louisville.</o><br />
                            Open to Remotely & potentially with relocation.<br /><br />                        What Do you Work with?<br />                        Can I become Part of it?
                        </p>
                    </div>
                    <div style="height:80%;">
                        <img src="~/zjohnson_92.png" class="zjohnson" />

                    </div>

                </div>


                <!--<div class="reccentFocus">                    <h2>  Recently working the<b> Microsoft</b> stack:</h2>                                    <h3>                            Asp.Net C#  <a href=@ViewBag.Razorhref target="b"> Razor</a>  MVC  SQL<br />                            WebAPI's jQuery  ECMA-262 ECMAScript  Ajax<br />                            EF  Codefirst  Powershell Angular Bootstrap                        </h3>                               </div>                <div style="clear:both;"></div>-->                @*<div class="youBuild">                    <div>                        <img src="~/port19/GoldenCircleStock.jpg" />                    </div>                    <div>                        <p>         What kind of things do you guys build?     </p>                        <p>Are there public Repos of your guys's work? <br />. ?(Team || Personal) (else(map[](){nan}) </p>                        <div>                            <div><p>.Fun||Personally(new){}</p> </div>                            <div><p>things I could tinker with?</p></div>                        </div>                    </div>               </div>*@
            </div>



            @*<div class="personalInterest">                    <h1>At the moment I have personal interest around</h1>                    <p>                        Software Tooling | Portage of Tool-bases to Higher Altitudes| Automation <br />                        Extending Existing Systems | Operations | System Metrics | Learning Standards of B2B | UI Manipulation outside-of-Browser<br /><br />                    </p>                    <p>                        ■ Mods|Additions|Collapsing Regions --> Windows UI to allow <br />                        &nbsp;&nbsp;&nbsp; Custom Line-Heights, & Font modifications.                    </p>                </div>*@



            <div class="aspUmbrella">                <h1>                    Working ASP as Umbrella: <br />                </h1>                <ul>                    <li>                        Build-Out / Work-with existing Databases / Portage of Legacy Databases<br />                        Full Web Interfaces for UserInteraction<br />                    </li>                    <li>                        Create/Leverage Software Tooling to <br />                        Monitor | Modify | Fire Events                        Trigger Software Scripts/Api's from coding languages outside of ASP's C#|VB                    </li>                    <li>                        Business Processes Documentation <br />                        Generate clean Typography/Linkages/Open-In correct Locations for outlining Design of Business Processes & Documentation.                    </li>                    <li>                        Attach tooling to<br /> Create | Edit | Maintain Versioning<br />                        &nbsp; ⮡  for Documents that may have previously existed in Microsoft Word/Excel.                    </li>                    <li> Unit Testing & Automated UI Testing</li>                    <li>                        Web Scraping /w BeautifulSoup.py                    </li>                    <li>                        Choosing MVC over traditional Pages... <br />                        Centralized Locations for Logic Triggering which should exist in Function Specific Libraries.<br /><br />                        Think of the MVC design as a Gr& Appendix...  so that one does not wander around files looking for specifics.                    </li>                    <li>                        Asp can be hosted via Windows, or Linux platform. Usually irrelevant in my opinion.<br /> <br />                        Sometimes maintaining work-styles of past designs is desirable; <br />                        With that in mind I am open to work flows which are prevailing, and or desired by the Product Manager/Lead                    </li>                </ul>            </div>
            <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">                <a href="/resume" class="resume"><img src="~/Resume.jpg" /></a>                Business Problems we can work together on Engineering a Solution?<br />                Things I can Fire AT?<br />                Feel free to contact me by phone or email & let's begin working together.<br /><br />                For the most part, I just like to Build Stuff.<br /><br />            </p>


        </div>

    </div>

</div>
@*@await Html.PartialAsync("z_beckman.cshtml")*@




<div style="clear:both;"></div>


@await Html.PartialAsync("z_writing.cshtml")

<!-- printThis -->
@*<script src="~/printThis.js"></script>*@

@*<script>
        $('#print').click(function () {

            //https://jasonday.github.io/printThis/#demos

            $('page').printThis(
                {
                    printContainer: false,       // print outer container/$.selector
                    importCSS: true,            // import parent page css
                    importStyle: true,         // import style tags
                    removeInline: false,        // remove inline styles from print elements
                    loadCSS: "/Resume.css",                // path to additional css file - use an array [] for multiple
                    removeScripts: false,       // remove script tags from print content
                })




        })




    </script>*@




<script>



    //fetch('/beckman').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('introText').innerHTML += result
    //    })

    //fetch('/writing').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('main').innerHTML += result
    //    })

    //$.get("/beckman", function (data) { document.getElementById('introText').innerHTML += data })
    //$.get("/writing", function (data) { document.getElementById('main').innerHTML += data })
    //$.get("/articles", function (data) { document.getElementById('main').innerHTML += data })



    //document.addEventListener('click', function (event) {

    //    // If the clicked element doesn't have the right selector, bail
    //    //if (!event.target.matches('.click-me')) return;

    //    // Don't follow the link
    //    event.preventDefault()

    //    // Log the clicked element in the console
    //    // Log the clicked element in the console
    //    console.log(event.target)
    //    $('consoleLog').html('click')

    //}, false)


</script>



<script type="text/javascript">

    @*We can use   @Url.Action("")*@




        //console.log(`pageReplaceFiring`)


     //$(`html`).innerHTml =  $(`html`).html().toString().replace('{{', '').replace('}}', '')


        //$(`shinglog`).html = page
        //console.log(`pageRepplace Compelte`)

        //.replace('{{',"").replace('}}',""))


        //document.getElementsByTagName('shinLog').innerHTML = document.getElementsByTagName('shinLog').innerHTML.replace('{{', "").replace('}}',"")
        //console.log(document.documentElement.innerHTML.replace('{{',"").replace('}}',""))
        //document.getElementsByTagName('body').innerHTML =   document.getElementsByTagName('body').innerHTML.replace('{{',"").replace('}}',"")




</script>






<div class="lastimgWrapper">
    <div class="lastImg">
        <img src="~/hiking_sml.jpg" />
        <img src="~/pool_sml.jpg" />
        <img src="~/hiking2_sml.jpg" />
    </div>
</div>