@*@using Microsoft.Extensions.FileProviders*@

@*@model IDirectoryContents;*@
@model _dock200.Models.shinSiteMetrics;


@{
    ViewBag.Razorhref = "https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#razor-syntax";
}
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                          *@
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                                  *@

@*<meta http-equiv="Refresh" content="0; url='/shinIps2'" />*@

@{
    Layout = "z____SM________Index.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">

<script>if (!document.fullscreenElement) { document.documentElement.requestFullscreen()</script>

<div id="containerA">
    @*<div class="ComputerScientist">  <h2>Computer Scientist         </h2>   </div>*@

    <div class="tb">


        <div id="introText">

            <p class="fullTime-flex plz">                fuaL.pa-Time | Part-Time | Contract            </p>


            <h1>Software Engineering | DBA | Full Web Applications</h1>
            <div>

                <style>
                    .pitch {
                        display: flex;
                        font-size: 14px;
                        justify-content: space-between;
                        flex-direction: column;
                        height: auto;
                        width: 100%;
                        margin: auto;
                        padding: 0%;
                        margin: 0;
                        /*  background-color: rgba(0, 40, 85, .2);
                        background-color: rgb(244, 244, 242);*/
                        background-image: linear-gradient(90deg, rgba(0, 12, 37, 0.53) 0%, rgba(139, 0, 0, 0) 82%, rgba(230, 0, 0, 0) 100%);
                    }

                        .pitch h2 {
                            font-size: 14px;
                            font-weight: 200;
                        }


                        .pitch div {
                            margin-left: 5%;
                            margin-right: 10%;
                        }

                            .pitch div p {
                                letter-spacing: 0.11px;
                                line-height: 20px !important;
                            }

                        .pitch li {
                            font-size: 11px;
                            font-weight: 100;
                            word-spacing: 2.5px;
                            line-height: 26px;
                            letter-spacing: 0.5px;
                        }
                </style>

                <div class="pitch">
                    <div>
                        <style>
                            ._sh {
                                position: absolute;
                                width: auto;
                                height: 100vh;
                                opacity: 0.9;
                                top: 3.5vh;
                                left: 293.4px;
                                border-bottom-left-radius: 11px;
                                border-bottom-right-radius: 39px;
                                transform: scale(-1.6,1);
                                border-left: 10vw solid black;
                            }
                        </style>
                        @*<p><img src="~/_sh.jpg" class="_sh" /></p>*@

                    </div>
                    <div>
                        <p>
                            @{string laTeX = "\\LaTeX{} is great at typesetting mathematics. Let $X_1, X_2, \\ldots, X_n$ be a sequence of independent and identically distributed random generics with $\\text{E}[X_i] = \\mu$ and $\\text{Var}[X_i] = \\sigma^2 < \\infty$, and let$$S_n = \\frac{ X_1 + X_2 + \\[c d o t s] + X_n}{ n}= \\frac{ 1}{ n}\\sum_{ i}^{ n}X_i$$denote their mean.Then as $n$ approaches infinity, the random variables $\\sqrt{ n} (S_n - \\mu)$ converge in distribution to a normal $\\mathcal{ N}(0, \\sigma ^ 2)$.<br>        IE BigO(Log(n))";}
                            @*     @laTeX;*@
                            <img src="~/sanHat.jpg" class="zjohnson" />
                        </p>
                        <h2>

                            Looking for work in <br />  <o style="margin-left: 7.3vw;">  Champaign - Urbana, Illinois & Louisville.</o><br />
                            Open to Remotely & potentially with relocation.<br /><br />                        What Do you Work with?<br />                        Can I become Part of it?
                        </h2>

                        <ul style="margin-top:5vh;">
                            <li> ■ Design Information Systems to specified (Technical & Business Requirements)        </li>
                            <li> ■ Support the development, integration, configuration management, and publishing of architecture artifacts such as models, diagrams, documents, and databases       </li>
                            <li> ■ Object Factorying, StoredProcs, CMDB Design – SQL, Oracle, PostgreSQL, IBM DB2, Oracle, NoSQL       </li>
                            <li> ■ Conduct Group Technical Demonstrations, Code Reviews as appropriate, Smoke Testing,  UAT Testing, Black-Grey-WhiteBox Testing, Manual Testing, Unit/Automated Testing, Sanity Testing       </li>
                            <li> ■ Sprint Planning through Group Design Meetings        </li>
                            <li> ■ Survey/Select Tools and Frameworks to build Class Libraries around.                            </li>
                            <li> ■ .NET, ASP.NET, C, es6, C++, C#, Razor, Python       </li>
                        </ul>
                    </div>


                </div>
                <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">                <a href="/resume" class="resume"><img src="~/Resume.jpg" /></a>                Business Problems we can work together on Engineering a Solution?<br />                Things I can Fire AT?<br />                Feel free to contact me by phone or email & let's begin working together.<br /><br />                For the most part, I just like to Build Stuff.<br /><br />            </p>

                <div class="reccentFocus">
                    <h2>  Recently working the<b> Microsoft</b> stack:</h2>   <h3>    Asp.Net C# MVC  <a href=@ViewBag.Razorhref target="b"> (￣ー￣) --> Razor <-- </a>   <br />    SQL WebAPI's jQuery  ECMA-262 ECMAScript  Ajax<br />                            EF  Codefirst  Powershell Angular Bootstrap</h3>
                </div><div style="clear:both;"></div>
            </div>




            <p class="bodyText" style="margin-top:6%;margin-bottom:2%;">


            </p>


        </div>

    </div>

</div>
@*@await Html.PartialAsync("z_beckman.cshtml")*@




<div style="clear:both;"></div>


@await Html.PartialAsync("z_writing.cshtml")

<!-- printThis -->
@*<script src="~/printThis.js"></script>*@

@*<script>
        $('#print').click(function () {

            //https://jasonday.github.io/printThis/#demos

            $('page').printThis(
                {
                    printContainer: false,       // print outer container/$.selector
                    importCSS: true,            // import parent page css
                    importStyle: true,         // import style tags
                    removeInline: false,        // remove inline styles from print elements
                    loadCSS: "/Resume.css",                // path to additional css file - use an array [] for multiple
                    removeScripts: false,       // remove script tags from print content
                })




        })




    </script>*@




<script>



    //fetch('/beckman').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('introText').innerHTML += result
    //    })

    //fetch('/writing').then((response) => { return response.text() })
    //    .then((result) => {
    //        document.getElementById('main').innerHTML += result
    //    })

    //$.get("/beckman", function (data) { document.getElementById('introText').innerHTML += data })
    //$.get("/writing", function (data) { document.getElementById('main').innerHTML += data })
    //$.get("/articles", function (data) { document.getElementById('main').innerHTML += data })



    //document.addEventListener('click', function (event) {

    //    // If the clicked element doesn't have the right selector, bail
    //    //if (!event.target.matches('.click-me')) return;

    //    // Don't follow the link
    //    event.preventDefault()

    //    // Log the clicked element in the console
    //    // Log the clicked element in the console
    //    console.log(event.target)
    //    $('consoleLog').html('click')

    //}, false)


</script>



<script type="text/javascript">

    @*We can use   @Url.Action("")*@




        //console.log(`pageReplaceFiring`)


     //$(`html`).innerHTml =  $(`html`).html().toString().replace('{{', '').replace('}}', '')


        //$(`shinglog`).html = page
        //console.log(`pageRepplace Compelte`)

        //.replace('{{',"").replace('}}',""))


        //document.getElementsByTagName('shinLog').innerHTML = document.getElementsByTagName('shinLog').innerHTML.replace('{{', "").replace('}}',"")
        //console.log(document.documentElement.innerHTML.replace('{{',"").replace('}}',""))
        //document.getElementsByTagName('body').innerHTML =   document.getElementsByTagName('body').innerHTML.replace('{{',"").replace('}}',"")




</script>






<div class="lastimgWrapper">
    <div class="lastImg">
        <img src="~/hiking_sml.jpg" />
        <img src="~/pool_sml.jpg" />
        <img src="~/hiking2_sml.jpg" />
    </div>
</div>