<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="~/jQuery.js"></script>




    <link href="~/jt.css" rel="stylesheet" />
</head>

<body class="body">

    <header id="header">
        <style>


            .shinsetsu {
                float: right;
                font-size: 1.5vh;
                color: #00ffff;
                position: absolute;
                background-color: black;
                left: 0;
                padding-right: 5px;
                position: static !important;
            }
        </style>
        <a class="shinsetsu">           し<br />  ん <br /> せ<br /> つ        </a>
    </header>



    @*@Html.Partial("zz_JT__L_i_n_k_s.cshtml")*@


    <div style="clear:both"></div>
    <main id="main">       @RenderBody() </main>


    <footer>
        footer
    </footer>



</body>

</html>
