
@{
    Layout = "zJT__SM____Index.cshtml";
}



@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                          *@
@*      ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■                                                                                  *@
<style>

    flexw{
        display:flex;
        justify-content:space-around;
        
        flex-grow:1;
    }
    links{display:flex;
          padding:1% 2%;
          justify-content:space-around;
          outline:1px solid yellow;
    }
</style>

<flexw>

    <div style="border:1px solid blue;">1</div>

    <links>

        <a href="JTAssociates">HOME</a>
        <a href="JT_Company">OUR COMPANY</a>
        <a href="JT_Testimonials">TESTIMONIALS</a>
        <a href="JT_Contact">CONTACT</a>
        <a href="JT_Solutions">SOLUTIONS</a>
        <a href="JT_EmployeeLogin">EMPLOYEE LOG-IN</a>




    </links>


</flexw>



JT Index


<br /><img src="~/JT/JTss_Hompepage.png" style="width:30%;height:auto;display:block;" />