<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="~/jQuery.js"></script>




    <link href="~/jt.css" rel="stylesheet" />



    <style>

        html {
            box-sizing: border-box !important;
            height: 100%;
            overflow-x: hidden;
        }
    </style>
</head>

<body class="body">


    <style>

        header {
            background: rgba(0, 0, 0, 0.08);
            width: 100vw;
            height: auto;
            margin: 0;
            outline: 1px solid teal;
        }
    </style>
    <header id="header">
        <style>


            .shinsetsu {
                float: right;
                font-size: 1.5vh;
                color: #268b69;
                position: absolute;
                background-color: black;
                left: 0;
                padding-right: 5px;
                position: static !important;
            }
        </style>

        <a class="shinsetsu">           し<br />  ん <br /> せ<br /> つ        </a>      @*Shi N Set Tsu     -   Good Hearted,... are you?*@

        <style>
            nameTitle {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                width: auto;
                height: auto;
                background: #2a5487;
                font-size: 16px;
                padding-right:5%;
            }

            body {
                margin: 0;
                padding: 0;
                outline: 1px solid red;
                box-sizing: border-box;
            }
        </style>

        <nameTitle>
            <div>                <a href=”tel:+12176842174″> (217) 684-2174</a>                    </div>

            @*<img src="~/JT/facebook-square-brands.svg" />
                <img src="~/JT/instagram-square-brands.svg" />
                <img src="~/JT/linkedin-brands.svg" />
                <img src="~/JT/paper-plane-solid.svg" />
                <img src="~/JT/twitter-square-brands.svg" />*@
        </nameTitle>

    </header>



    @*@Html.Partial("zz_JT__L_i_n_k_s.cshtml")*@


    <div style="clear:both"></div>
    <main id="main">       @RenderBody() </main>

    <style>

        footer {
            padding: 1vh 2vw;
            background: rgba(0, 0, 0, 0.08);
            width: 100vw;
            height: auto;
            margin: 0;
            outline: 1px solid yellow;
        }
    </style>
    <footer>
        footer
        <br />


        <div><a href="JTAssociates" id="JTAssociates">             <i>/</i>JTAssociates - Index </a>                         </div>
        <div><a href="JT_Company" id="JT_Company">             <i>/</i>JT_Company </a>                         </div>
        <div><a href="JT_Contact" id="JT_Contact">             <i>/</i>JT_Contact </a>                         </div>
        <div><a href="JT_EmployeeLogin" id="JT_EmployeeLogin">             <i>/</i>JT_EmployeeLogin </a>                         </div>
        <div><a href="JTAssociates" id="JTAssociates">             <i>/</i>JTAssociates </a>                         </div>
        <div><a href="JT_ReportLogin" id="JT_ReportLogin">             <i>/</i>JT_ReportLogin </a>                         </div>
        <div><a href="JT_Solutions" id="JT_Solutions">             <i>/</i>JT_Solutions </a>                         </div>
        <div><a href="JT_Testimonials" id="JT_Testimonials">             <i>/</i>JT_Testimonials </a>                         </div>


    </footer>




</body>

</html>
