

<div>
    <flexCol>          <h2>     First Name   </h2>            <input type="text" id="FN" />                                      </flexCol>
    <br /><flexCol>    <h2>     Last Name   </h2>             <input type="text" id="LN" />                   </flexCol>
    <br /><flexCol>    <h2>     MI   </h2>                    <input type="text" id="MI" />                                    </flexCol>
    <br /><flexCol>    <h2>     Street Address   </h2>        <input type="text" id="StAddress" />                   </flexCol>
    <br /><flexCol>    <h2>     City</h2>                     <input type="text" id="City" />                                 </flexCol>
    <br /><flexCol>    <h2>     Zip Code   </h2>              <input type="text" id="Zipcode" />                   </flexCol>
    <br /><flexCol>    <h2>     Phone   </h2>                 <input type="text" id="Phone" />                              </flexCol>
    <br /><flexCol>    <h2>     Email   </h2>                 <input type="text" id="Email" />                                   </flexCol>
    <br /><flexCol>    <h2>     Permanent Address   </h2>     <input type="text" id="PermAddress" />                   </flexCol>
    <br /><flexCol>    <h2>     Position Applied for </h2>    <input type="text" id="PositionAppliedFor" />                   </flexCol>
    <br /><flexCol>    <h2>     Work Weekends</h2>            <input type="text" id="WorkWeekends" />                   </flexCol>
    <br /><flexCol>    <h2>     Work Evenings   </h2>         <input type="text" id="WorkEvenings" />                   </flexCol>
    <br /><flexCol>    <h2>     Legally Eligible for Employment   </h2>    <input type="text" id="LegallyEligibleEmp" />                   </flexCol>



    <br /><flexCol>    <h2>     Highest Level Attended   </h2>    <input type="text" id="HighestLevelAtended" />                   </flexCol>
    <br /><flexCol>    <h2>     Highest Degree   </h2>            <input type="text" id="HighestDegree" />                   </flexCol>
    <br /><flexCol>    <h2>     School   </h2>                    <input type="text" id="School" />                                        </flexCol>
    <br /><flexCol>    <h2>     Currently Student   </h2>         <input type="text" id="CurrentlyStudent" />                   </flexCol>
    <br /><flexCol>    <h2>     Student Capacity   </h2>          <input type="text" id="StudentCapacity" />                   </flexCol>
    <br /><flexCol>    <h2>     Employer   </h2>                  <input type="text" id="Employer" />                                </flexCol>
    <br /><flexCol>    <h2>     Date From   </h2>                 <input type="text" id="EMPDateFrom" />                   </flexCol>
    <br /><flexCol>    <h2>     Date To   </h2>                   <input type="text" id="EMPDateTo" />                   </flexCol>
    <br /><flexCol>    <h2>     City   </h2>                      <input type="text" id="EMPCity" />                            </flexCol>
    <br /><flexCol>    <h2>     State   </h2>                     <input type="text" id="EMPState" />                   </flexCol>
    <br /><flexCol>    <h2>     Phone   </h2>                     <input type="text" id="EMPPhone" />                   </flexCol>
    <br /><flexCol>    <h2>     Manager   </h2>                   <input type="text" id="EMPManager" />                   </flexCol>
    <br /><flexCol>    <h2>     May We Contact   </h2>            <input type="text" id="MayWeContact" />                   </flexCol>
    <br /><flexCol>    <h2>     Signature   </h2>                 <input type="text" id="Signature" />                   </flexCol>
    <br /><flexCol>    <h2>     Date   </h2>                      <input type="text" id="SigDate" />                   </flexCol>

    <br /><flexCol>    <h2>     Date Received   </h2>             <input type="text" id="DateRecieved" />                   </flexCol>
    <br /><flexCol>    <h2>     Interview Date   </h2>            <input type="text" id="InterviewDate" />                   </flexCol>
    <br /><flexCol>    <h2>     Special Notes  </h2>              <input type="text" id="SpecialNotes" />                   </flexCol>

</div>



@*<field>  			@Html.Editor("MI")                                                                                                                                                                          </field>*@
@*@Html.EditorFor(m => m.FirstOrDefault().LN);*@
