
<style>

    Create{ 
        outline:1px solid grey;
        height:10vh;
        width:100%;
        padding: 2% 5%;
        margin:2% 5%;


    }
</style>
    <Create>
        <h1> Refinery Create New Hire Emp App </h1>

    </Create>